.background{
    margin-top: 0px;
    background-image: url(../multimedia/background_estetica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.darkPalette{
    --fondo-color: rgb(23, 23, 25);
    --medio-color: rgb(50, 50, 54);
    --frente-color: rgb(93, 92, 98);
    --text-fondo-color: rgb(190, 188, 199);
    --text-medio-color: rgb(217, 215, 227);
    --text-frente-color: rgb(243, 241, 253);
}
.pinkPalette{
    --fondo-color: #FFE3D9;
    --medio-color: #B68F8F;
    --frente-color: #A88476;
    --text-fondo-color: #8E746A;
    --text-medio-color: rgb(217, 215, 227);
    --text-frente-color: rgb(243, 241, 253);
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRow{
    display: flex;
    justify-content: center;
    align-items: center;
}
