.background{
    margin-top: 0px;
    background-image: url(../multimedia/background_estetica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.masterContainer{
    width: 100%;
    margin: 0px auto;
}

@media (max-width:300px){
    .masterContainer{
        width: 300px;
    }
}
@media (min-width:901px){
    .masterContainer{
        width: 901px;
    }
}
.darkPalette{
    --fondo-color: rgb(23, 23, 25);
    --medio-color: rgb(50, 50, 54);
    --frente-color: rgb(93, 92, 98);
    --text-fondo-color: rgb(190, 188, 199);
    --text-medio-color: rgb(217, 215, 227);
    --text-frente-color: rgb(243, 241, 253);
}
.pinkPalette{
    --fondo-color: #FFE3D9;
    --medio-color: #B68F8F;
    --frente-color: #A88476;
    --text-fondo-color: #8E746A;
    --text-medio-color: rgb(217, 215, 227);
    --text-frente-color: rgb(243, 241, 253);
    --black-white-main: #FFF;
    --black-white-oposite: #000;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.diffuse{
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 300px;
    height: 100%;
    margin: 30px;
    background-color: #8883;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
}
