.dayCalendarContainer{
  width: 300px;
  margin: 50px;
  background-color: var(--fondo-color);
}
.head{
  background-color: var(--medio-color);
  padding: 3px;
  color: var(--text-frente-color);
  font-size: 1.5em;
  font-weight: 700;
}
.date{
  font-weight: 700;
  color: var(--text-fondo-color);
  padding: 8px;
}
.apptsContainer{
  height: 375px;
  overflow-y: scroll;
}
.appt{
  padding: 10px;
}
.apptBtn{
  background-color: var(--frente-color);
  padding: 3px 10px 5px 10px;
  font-size: 0.83em;
  color: var(--text-frente-color);
  margin-left: 20px;
  cursor: pointer;
}

.time{
  
}

/*.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}*/

/*@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}*/

