
/* CHOOSE SERVICE STYLES */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@300;400&display=swap');

/* SMALL */
@media (min-width:0px) and (max-width:500.99px){
    .divContainerChooseService{
        margin: 0px;
        padding-bottom: 30px;
    }
    .chooseServiceTitle{
        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
        color: rgba(128, 92, 78, 1);
        text-align: center;
        font-size: 26px;
        padding: 30px;
    }
    .serviceCategory{
        color: rgba(148, 112, 98, 1);
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        letter-spacing: 1.5px;
        font-size: 17px;
    }
    .listOfServices{
        color: rgba(98, 62, 48, 1);
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 13.5px;
    }
    .listOfServices:hover{
        font-weight: 400;
    }
}

/* MEDIUM */
@media (min-width:501px) and (max-width:900.99px){
    .divContainerChooseService{
        margin: 0px;
        padding-bottom: 30px;
    }
    .chooseServiceTitle{
        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        letter-spacing: 2px;
        color: rgba(128, 92, 78, 1);
        text-align: center;
        font-size: 28px;
        padding: 30px;
    }
    .divChooseServiceGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .serviceCategory{
        color: rgba(148, 112, 98, 1);
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 19px;
    }
    .listOfServices{
        color: rgba(98, 62, 48, 1);
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 15px;
    }
    .listOfServices:hover{
        font-weight: 400;
    }
}

/* LARGE */
@media (min-width:901px) and (max-width:2500px){
}