
/* HOME STYLES */

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


.iconsEdit{
    display: flex;
    justify-content: space-between;
    margin-left: 0.8rem;
    cursor: pointer;
}
.iconAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.iconHome{
    cursor: pointer;
    margin-left: 1rem;
}
.iconHome>svg{
    width: 2rem;
    height: 2rem;
}
.iconEdit>svg,.iconsEdit>svg{
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
}
/* GENERAL INFO */
.divContainerHome{
    margin: 0px;
    padding-bottom: 30px;
}
.homeTitle{
    margin: 0px;
    font-family: 'Cookie', cursive;
    font-weight: 300;
    color: rgba(88, 52, 38, 1);
    text-align: center;
}
.asideData{
    display: grid;
    grid-template-columns: 1.6fr 1fr;
}
.asideData > p{
    color: rgb(54, 37, 31);
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
#adress{
    margin: auto;
}
#cellphoneNumber{
    margin: auto;
}
.description{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgba(88, 52, 38, 1);
    text-align: center;
}
.divContainerHome > hr{
    color: rgba(128, 92, 78, 1);
    border: solid 0.1px;
}
.homeSubtitles{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgba(128, 92, 78, 1);
    text-align: center;
}
.serviceImg{
    object-fit: cover;
}

/*  SERVICES  */
.categoriesNames{
    display: flex;
    align-items: top;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    color: rgba(88, 52, 38, 1);
    font-weight: 300;
    font-size: 13px;
    text-align: center;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: top;
}
.serviceImg{
    width: 300px;
    margin: 0px 0px;
}
.divListServices{
    padding: 1px;
    margin: 0px;
    width: auto;
    min-width: 200px;
    background-color: rgba(20, 20, 20, 0.33);
}
.servicesList{
    text-align: left;
    margin: 5% 0px;
}
.eachServiceList{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 0px;
    cursor: pointer;
    padding: 0px;
    list-style: none;
    width: auto;
}
.eachServiceList:hover{
    font-weight: 400;
}


/* PROFESSIONALS */

    .profCard{
        margin: 20px;
    }
    .divProfessionals{
        margin-top: 40px;
    }
    .profilePhoto{
        width: 90%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        display: grid;
        justify-content: center;
    }
    .profilePhoto>img{
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    .divProfessionals > p{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: rgba(128, 92, 78, 1);
        text-align: center;
    }



/* SMALL */
@media (min-width:0px) and (max-width:500.99px){
    
    /* GENERAL INFO */
    .homeTitle{
        letter-spacing: 3px;
        font-size: 45px;
        padding-top: 30px;
    }
    .asideData{
        margin: 0px 10%;
    }
    .iconsData{
        width: 11px;
        height: 11px;
    }
    .asideData > p{
        font-weight: 300;
        font-size: 10.5px;
        margin-top: -5px;
    }
    .description{
        font-size: 13px;
        padding: 20px 30px;
    }
    .homeSubtitles{
        letter-spacing: 1.6px;
        font-size: 20px;
        padding: 5px 0px;
    }

    /*  SERVICES  */
    .categoriesNames{
        font-size: 13px;
    }
    .category{
        margin: 0px 20px;
        padding: 10px;
    }
    .serviceImg{
        height: 30vh;
    }

    /* PROFESSIONALS */

    .profCard{
        margin: 20px;
    }
    .profilePhoto{
        width: 90%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        display: grid;
        justify-content: center;
        
    }
    .profilePhoto>img{
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
}

/* MEDIUM */
@media (min-width:501px) and (max-width:900.99px){
    /* GENERAL INFO */
    .homeTitle{
        letter-spacing: 4px;
        font-size: 55px;
        padding-top: 30px;
    }
    .asideData{
        margin: 0px 20%;
    }
    .iconsData{
        width: 13px;
        height: 13px;
    }
    .asideData > p{
        font-weight: 400;
        font-size: 12px;
        margin-top: -5px;
    }
    .description{
        font-size: 15px;
        padding: 20px 30px 10px 30px;
    }
    .homeSubtitles{
        letter-spacing: 1.6px;
        font-size: 21px;
        padding: 0px;
    }

    /*  SERVICES  */
    .categoriesNames{
        font-size: 14px;
    }
    .category{
        margin: 0px auto;
        padding: 10px;
    }
    .serviceImg{
        height: 32vh;
    }

    /* PROFESSIONALS */
}

/* LARGE */
@media (min-width:901px) and (max-width:2500px){
     /* GENERAL INFO */
    .homeTitle{
        letter-spacing: 6px;
        font-size: 60px;
        padding-top: 30px;
    }
    .asideData{
        margin: 0px 30%;
    }
    .iconsData{
        width: 14px;
        height: 14px;
    }
    .asideData > p{
        font-weight: 400;
        font-size: 14px;
        margin-top: -5px;
    }
    .description{
        font-size: 17px;
        padding: 50px 30px 50px 30px;
    }
    .homeSubtitles{
        letter-spacing: 1.6px;
        font-size: 21px;
        padding: 5px 0px;
    }

    /*  SERVICES  */
    .categoriesNames{
        font-size: 14px;
    }
    .category{
        margin: 0px auto;
        padding: 10px 20px;
    }
    .serviceImg{
        height: 32vh;
    }
    .eachServiceList{
        padding: 2px;
        margin: 8px;
    }

    /* PROFESSIONALS */
}

