
/*//////////////////////////////*/
.dayCalendarContainer{
  width: 300px;
  margin: 1.5rem 0;
  background-color: var(--fondo-color);
}
.head{
  background-color: var(--medio-color);
  padding: 3px;
  color: var(--text-frente-color);
  font-size: 1.5em;
  font-weight: 700;
}
.date{
  font-weight: 700;
  color: var(--text-fondo-color);
  padding: 8px;
}
.scrollContainer{
  max-height: 375px;
  overflow-y: scroll;
}
.appt{
  padding: 10px;
  height: 45px;
  box-sizing: border-box;
}
.apptBtn{
  background-color: var(--frente-color);
  padding: 3px 10px 5px 10px;
  font-size: 0.83em;
  color: var(--text-frente-color);
  cursor: pointer;
  box-sizing: border-box;
}
/*.ghostBtn{
  width: 71px;
  height: 24px;
  margin-left: 20px;
}*/
.profBtn{
  background-color: var(--black-white-main);
  padding: 3px 10px 5px 10px;
  font-size: 0.83em;
  color: var(--text-fondo-color);
  cursor: pointer;
  box-sizing: border-box;
}

.clickList{
  padding: 10px;
  height: 45px;
  box-sizing: border-box;
  color: #8E746A;
}
.clickList>div:first-child{
  width: 50%;
  margin-left: 10%;
  color: #8E746A;
}
.clickList>div:nth-child(2){
  max-width: 25%;
  margin: 0 10%;
}

/*.time{
  
}*/