/* SIGN UP STYLES */

/* SMALL */
@media (min-width:0px) and (max-width:500.99px){
    .divContainer{
        margin: 0px 20px 0px 20px ;
        padding: 30px;
    }
    .signUpForm{
        background-color: rgba(22, 22, 22, 0.348);
        border-radius: 50px;
        margin-top: 30px;
        padding: 40px 30px;
    }
    .labelsInputsSingUp{
        font-size: 13px;
        color: white;
        font-weight: bold;
    }
    .inputs{
        border: 0.8px;
        background: none;
        border-bottom: 1px solid black;
        width: 100%;
        margin: 15px 0px  50px 0px;
    }
    .btnSignUp{
        border-radius: 10px;
        border: none;
        height: 30px;
        background-color: rgba(247, 211, 197, 1);
    }
    .btnSignUp:hover{
        cursor: pointer;
    }
}

/* MEDIUM */
@media (min-width:501px) and (max-width:1007.99px){
}

/* LARGE */
@media (min-width:1008px) and (max-width:2500px){
}