/* SIGN UP STYLES */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@300;400&display=swap');

.divContainerSignUp{
    margin: 0px;
    padding-bottom: 30px;
}
.signUpTitle{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgba(128, 92, 78, 1);
    text-align: center;
    padding: 30px;
}
.signUpForm{
    background-color: rgba(22, 22, 22, 0.348);
    border-radius: 50px;
}

.signUpForm > label{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
}
.signUpForm > input{
    border: 0.8px;
    background: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 15px 0px  50px 0px;
}
.divSignUpBtn{
    text-align: center;
}
.btnSignUp{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    background-color: rgba(247, 211, 197, 1);
    color: rgb(102, 77, 67);
}
.btnSignUp:hover{
    cursor: pointer;
    font-weight: bold;
}




/* SMALL */
@media (min-width:0px) and (max-width:500.99px){
    .signUpTitle{
        letter-spacing: 2px;
        font-size: 26px;
    }
    .signUpForm{
        margin: 0px 10%;
        padding: 40px 30px;
    }

    .signUpForm > label{
        font-size: 14px;
    }
    .signUpForm > input{
        border: 0.8px;
        background: none;
        border-bottom: 1px solid black;
        width: 100%;
        margin: 15px 0px  50px 0px;
    }
    .btnSignUp{
        font-size: 15px;
        padding: 3px 15px;
    }
}

/* MEDIUM */
@media (min-width:501px) and (max-width:900.99px){
    .signUpTitle{
        letter-spacing: 3px;
        font-size: 30px;
    }
    .signUpForm{
        margin: 0px 15%;
        padding: 60px 50px 30px 50px;
    }
    .signUpForm > label{
        font-size: 16px;
    }
    .signUpForm > input{
        border: 0.8px;
        background: none;
        border-bottom: 1px solid black;
        width: 100%;
        margin: 15px 0px  50px 0px;
    }
    .btnSignUp{
        font-size: 17px;
        letter-spacing: 1px;
        padding: 4px 15px;
    }
}

/* LARGE */
@media (min-width:901px) and (max-width:2500px){
    .signUpTitle{
        letter-spacing: 3.5px;
        font-size: 35px;
    }
    .signUpForm{
        margin: 0px 25%;
        padding: 60px 60px 30px 60px;
    }
    .signUpForm > label{
        font-size: 16px;
    }
    .signUpForm > input{
        border: 0.8px;
        background: none;
        border-bottom: 1px solid black;
        width: 100%;
        margin: 15px 0px  50px 0px;
    }
    .btnSignUp{
        font-size: 17px;
        letter-spacing: 1px;
        padding: 5px 20px;
    }
}